a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  transition: 0.5s all ease;
}
a:visited {
  color: inherit;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}
input,
button,
textarea,
form {
  color: inherit;
  font-family: inherit;
  border: none;
  background: transparent;
  outline: none;
  resize: none;
  padding: 0;
  margin: 0;
}
.menu__btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu__btn span::after,
.menu__btn span,
.menu__btn span::before {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 2px;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  background-color: #222;
}
.menu__btn span::after,
.menu__btn span::before {
  content: '';
  display: block;
  transition: all 0.5s;
}
.menu__btn span::before {
  transform: translateY(-5px);
}
.menu__btn span::after {
  transform: translateY(5px);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #5b646e;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: inherit;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  background: url("../img/header/hbg.jpg");
  background-size: cover;
  color: #fff;
  padding: 20px 0 1px;
}
.header .logo {
  width: 90px;
  height: 20px;
  margin-right: 35px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagline {
  margin-right: auto;
  width: 126px;
  opacity: 0.3;
  color: #fff;
  font-family: "Lato - Thin Italic";
  font-size: 14px;
  font-weight: 400;
}
.menu__list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.menu__item {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
  transition: 0.5s;
}
.menu__item:not(:last-child) {
  margin-right: 34px;
}
.menu__item:hover {
  transform: scale(1.2);
}
.offer {
  margin-top: 267px;
  text-align: center;
  font-family: 'Lato';
}
.offer__title {
  font-size: 62px;
  font-weight: 700;
}
.offer__subtitle {
  opacity: 0.9;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin-top: 45px;
}
.offer__badge {
  font-size: 18px;
  font-weight: 400;
  width: 372px;
  margin: 43px auto;
  position: relative;
}
.offer__badge:before {
  content: '';
  width: 33px;
  height: 1px;
  background-color: #4c76ff;
  position: absolute;
  top: 11px;
  left: 0px;
}
.offer__badge:after {
  content: '';
  width: 33px;
  height: 1px;
  background-color: #4c76ff;
  position: absolute;
  top: 11px;
  left: 342px;
}
.offer span {
  color: #4c76ff;
}
.links {
  display: block;
  margin: 113px auto;
  width: 110px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s all ease;
  font-size: 18px;
}
.links__item {
  opacity: 30%;
}
.links__item:hover {
  opacity: 100%;
}
.section-title {
  color: #4c76ff;
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
  text-align: center;
}
.section-subtitle {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-family: Lato;
  max-width: 600px;
}
.features {
  padding: 75px 0 114px;
  background: #efefef;
  color: #7f8b95;
  font-size: 11px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.card {
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  transition: 0.5s all ease;
}
.card__body {
  margin-left: 15px;
}
.card__title {
  color: #062033;
  font-size: 17px;
  font-weight: 400;
}
.card__image {
  border: 1px solid #4c76ff;
  border-radius: 20px;
  padding: 7px;
}
.card__text {
  margin-top: 17px;
  opacity: 0.7;
  color: #062033;
  font-size: 11px;
  font-weight: 400;
}
.device {
  background-color: #fff;
  padding: 77px 0;
}
.device__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 84%;
  padding-top: 45px;
}
.device__title {
  color: #282528;
  font-size: 15px;
  font-weight: 400;
  line-height: 2em;
  max-width: 782px;
  margin: 0 auto;
  text-align: center;
}
.device__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
  background-image: url("../img/features/iphone.png");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 600px;
  width: 100%;
}
.device__card {
  -webkit-user-select: none;
          user-select: none;
  padding: 15px 0;
}
.device__card .card__image {
  width: 38px;
  border: none;
  border-radius: 0;
}
.device__card .card__title {
  color: #282528;
  font-size: 13px;
  font-weight: 700;
}
.device__card .card__body {
  padding-left: 24px;
}
.device__card:hover {
  background-color: #fefce9;
}
.works {
  padding: 10px 0 0 0;
  background-color: #fff;
}
.button-group {
  max-width: 420px;
  margin: 87px auto;
  display: flex;
  justify-content: space-between;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 380px;
}
.grid__img {
  width: 25%;
}
.button {
  color: #062033;
  font-family: Lato, sans-serif;
  padding: 10px 15px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 900;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  transition: 0.5s all ease;
}
.button :active,
.button.is-checked {
  background-color: #4c76ff;
  color: #fff;
}
.button:hover {
  background-color: #4c76ff;
  color: #fff;
}
.team {
  padding: 108px 0;
  background-color: #fff;
}
.team__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.team .container {
  max-width: 973px;
  padding: 0;
}
.person {
  text-align: center;
  position: relative;
}
.person__name {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #062033;
  transition: 0.3s all ease;
}
.person__hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 83%;
  background: rgba(31,131,243,0.85);
  top: 0;
  color: #fff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 13px;
  padding: 20px;
  transition: 0.3s all ease;
}
.person__firstline {
  font-weight: 700;
  margin-bottom: 5px;
}
.person__secline {
  flex-basis: 73%;
}
.person i {
  font-size: 20px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #3b57b2;
  line-height: 35px;
}
.person:hover .person__name {
  color: #45c5ac;
}
.person:hover .person__hover {
  opacity: 1;
}
.facts {
  background: url("../img/facts/bg.jpg");
  background-size: cover;
  padding: 75px 0 118px;
  color: #fff;
}
.facts__title {
  color: #4c76ff;
}
.facts__row {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 80px;
}
.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__num {
  margin-top: 38px;
  font-size: 45px;
  margin-bottom: 14px;
}
.item__text {
  text-transform: uppercase;
  font-size: 13px;
}
.discuss {
  padding-top: 78px;
  padding-bottom: 89px;
}
.discuss__wrap {
  display: flex;
  margin-top: 78px;
}
.discuss__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.discuss__links a:hover {
  transform: scale(1.5, 1.5);
}
.adress {
  color: #6a737b;
  flex-basis: 205px;
  margin-right: 40px;
  line-height: 2.5em;
}
.adress__title {
  color: #062033;
  font-size: 18px;
  margin-bottom: 23px;
}
.adress__text {
  font-size: 11px;
}
.form {
  flex-basis: 60%;
}
.form__title {
  color: #062033;
  font-size: 20px;
  font-weight: 700;
}
.form__body {
  margin-top: 35px;
}
.form__body input {
  border-bottom: 1px solid #ccc;
  width: 48%;
  padding-bottom: 15px;
  margin-bottom: 17px;
}
.form__body textarea {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 13px 0 0;
}
.form__body button {
  padding-left: 30px;
  background: url("../img/discuss/Envelope.svg") center left no-repeat;
  width: 125px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  margin-left: auto;
  display: block;
  margin-top: 20px;
  transition: 0.3s all ease;
}
.form__body button:hover {
  transform: scale(0.8, 0.8);
}
.footer {
  padding: 52px 0 93px;
  color: #fff;
  line-height: 2.5em;
  background-color: #000;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  width: 27%;
  color: #cccdcd;
}
.footer__descr {
  margin-top: 25px;
}
.footer__label {
  font-size: 18px;
  font-weight: 900;
}
.footer__form {
  position: relative;
  max-width: 245px;
  margin-top: 36px;
}
.footer__form input {
  width: 100%;
  height: 42px;
  border: 2px solid #fff;
  padding: 5px;
}
.footer__form button {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 23px;
  cursor: pointer;
}
.footer__links {
  display: flex;
  margin-top: 25px;
}
.footer__links .col {
  display: flex;
  flex-direction: column;
}
.footer__links .col_left {
  margin-right: 30px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .navbar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .menu {
    position: relative;
  }
  .menu__btn {
    display: block;
    position: absolute;
    right: 0px;
    z-index: 10;
    opacity: 0.9;
  }
  .menu__btn_active {
    filter: opacity(25%);
  }
  .menu__btn_active span::before {
    transform: rotate(-35deg);
    transform-origin: left bottom;
    width: 10px;
  }
  .menu__btn_active span::after {
    transform: rotate(35deg);
    transform-origin: left top;
    width: 10px;
  }
  .menu__item {
    margin-right: 20px;
  }
  .menu__list {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 60px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
/* fade animatin for menu.nav*/
    transition: 0.5s all ease;
    transform-origin: right center;
    transform: translateX(100%);
    opacity: 1;
    color: #000;
    z-index: 5;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .menu__list_active {
    transform: translateX(0%);
    opacity: 0.9;
  }
  .device__inner {
    background-image: none;
  }
  .team__wrap {
    flex-direction: column;
    align-items: center;
  }
  .team .person {
    max-width: 225px;
    margin-bottom: 20px;
  }
  .team .person img {
    display: block;
  }
  .facts__row {
    flex-wrap: wrap;
  }
  .facts__row .item {
    width: 40%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .tagline {
    display: none;
  }
  .header .logo {
    margin-right: 0;
  }
  .offer {
    margin-top: 100px;
  }
  .offer__subtitle {
    line-height: 1;
  }
  .offer__badge {
    width: 100%;
  }
  .offer__badge:before {
    left: -11%;
  }
  .offer__badge:after {
    left: 100%;
  }
  .features__inner {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .features .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .features .card:not(:last-child) {
    margin-bottom: 30px;
  }
  .features .card__title {
    margin-top: 10px;
  }
  .features .card__img {
    width: 100%;
  }
  .device {
    padding-bottom: 0;
  }
  .device__inner {
    margin-top: 0;
  }
  .device__title {
    line-height: normal;
    margin-bottom: 30px;
  }
  .device__column {
    align-items: center;
  }
  .device .card__image {
    width: auto;
  }
  .section-subtitle {
    margin-top: 50px;
    max-width: 600px;
  }
  .grid {
    justify-content: space-around;
  }
  .grid__img {
    width: 33%;
  }
  .team {
    padding: 50px 0;
  }
  .footer__links {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 80%;
  }
  .header .logo {
    display: none;
  }
  .header .links {
    margin: 50px auto;
  }
  .menu {
    width: 100%;
  }
  .menu__btn {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .offer__title {
    font-size: 44px;
  }
  .offer__subtitle {
    font-size: 28px;
  }
  .offer__badge {
    line-height: normal;
  }
  .device__inner {
    flex-direction: column;
  }
  .device__column {
    height: 100%;
    width: auto;
    padding-top: 0;
  }
  .device__column_sec {
    display: none;
  }
  .device .card {
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin-bottom: 15px;
    text-align: center;
  }
  .device .card__body {
    padding: 0;
    margin: 0;
  }
  .works .button-group {
    display: flex;
    flex-direction: column;
  }
  .grid__img {
    width: 50%;
  }
  .facts__row .item {
    width: 100%;
  }
  .discuss__wrap {
    flex-direction: column;
  }
  .discuss .form {
    order: -1;
  }
  .discuss .adress {
    margin-top: 30px;
    width: 100%;
  }
  .discuss__links {
    flex-direction: row;
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__col {
    margin-top: 20px;
    width: 100%;
  }
  .footer__col .col_left {
    margin: 0;
  }
  .footer__links {
    justify-content: space-between;
  }
  .footer__form {
    max-width: 100%;
  }
}
