a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  transition: 0.5s all ease;
}
a:visited {
  color: inherit;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}
input,
button,
textarea,
form {
  color: inherit;
  font-family: inherit;
  border: none;
  background: transparent;
  outline: none;
  resize: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #5b646e;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: inherit;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  background: url("../img/header/hbg.jpg");
  background-size: cover;
  color: #fff;
  padding: 20px 0 1px;
}
.header .logo {
  width: 90px;
  height: 20px;
  margin-right: 35px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagline {
  margin-right: auto;
  width: 126px;
  opacity: 0.3;
  color: #fff;
  font-family: "Lato - Thin Italic";
  font-size: 14px;
  font-weight: 400;
}
.menu__list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.menu__item {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
}
.menu__item:not(:last-child) {
  margin-right: 34px;
}
.offer {
  margin-top: 267px;
  text-align: center;
  font-family: 'Lato';
}
.offer__title {
  font-size: 62px;
  font-weight: 700;
}
.offer__subtitle {
  opacity: 0.9;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin-top: 45px;
}
.offer__badge {
  font-size: 18px;
  font-weight: 400;
  width: 372px;
  margin: 43px auto;
  position: relative;
}
.offer__badge:before {
  content: '';
  width: 33px;
  height: 1px;
  background-color: #4c76ff;
  position: absolute;
  top: 11px;
  left: 0px;
}
.offer__badge:after {
  content: '';
  width: 33px;
  height: 1px;
  background-color: #4c76ff;
  position: absolute;
  top: 11px;
  left: 342px;
}
.offer span {
  color: #4c76ff;
}
.links {
  display: block;
  margin: 113px auto;
  width: 110px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s all ease;
  font-size: 18px;
}
.links__item {
  opacity: 30%;
  transition: 0.5s all ease;
}
.links__item:hover {
  opacity: 100%;
}
.section-title {
  color: #4c76ff;
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
  text-align: center;
}
.section-subtitle {
  margin: 0 auto;
  width: 600px;
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-family: Lato;
  max-width: 800px;
}
.features {
  padding: 75px 0 114px;
  background: #efefef;
  color: #7f8b95;
  font-size: 11px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.card {
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  transition: 0.5s all ease;
}
.card__body {
  margin-left: 15px;
}
.card__title {
  color: #062033;
  font-size: 17px;
  font-weight: 400;
}
.card__image {
  border: 1px solid #4c76ff;
  border-radius: 20px;
  padding: 7px;
}
.card__text {
  margin-top: 17px;
  opacity: 0.7;
  color: #062033;
  font-size: 11px;
  font-weight: 400;
}
.device {
  background-color: #fff;
  padding: 77px 0;
}
.device__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 84%;
  padding-top: 45px;
}
.device__title {
  color: #282528;
  font-size: 15px;
  font-weight: 400;
  line-height: 2em;
  max-width: 782px;
  margin: 0 auto;
  text-align: center;
}
.device__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
  background-image: url("../img/features/iphone.png");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 600px;
  width: 100%;
}
.device__card {
  -webkit-user-select: none;
          user-select: none;
  padding: 15px 0;
}
.device__card .card__image {
  width: 38px;
  border: none;
  border-radius: 0;
}
.device__card .card__title {
  color: #282528;
  font-size: 13px;
  font-weight: 700;
}
.device__card .card__body {
  padding-left: 24px;
}
.device__card:hover {
  background-color: #fefce9;
}
.works {
  padding: 10px 0 0 0;
  background-color: #fff;
}
.button-group {
  max-width: 30%;
  margin: 87px auto;
  display: flex;
  justify-content: space-between;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 520px;
}
.grid__img {
  width: 25%;
}
.button {
  color: #062033;
  font-family: Lato, sans-serif;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  transition: 0.5s all ease;
}
.button :active,
.button.is-checked {
  background-color: #4c76ff;
  color: #fff;
}
.button:hover {
  background-color: #4c76ff;
  color: #fff;
}
.team {
  padding: 108px 0;
  background-color: #fff;
}
.team__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.team .container {
  width: 973px;
  padding: 0;
}
.person {
  text-align: center;
  position: relative;
}
.person__name {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #062033;
  transition: 0.3s all ease;
}
.person__hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 83%;
  background: rgba(31,131,243,0.85);
  top: 0;
  color: #fff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 13px;
  padding: 20px;
  transition: 0.3s all ease;
}
.person__firstline {
  font-weight: 700;
  margin-bottom: 5px;
}
.person__secline {
  flex-basis: 73%;
}
.person i {
  font-size: 20px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #3b57b2;
  line-height: 35px;
}
.person:hover .person__name {
  color: #45c5ac;
}
.person:hover .person__hover {
  opacity: 1;
}
.facts {
  background: url("../img/facts/bg.jpg");
  background-size: cover;
  padding: 75px 0 118px;
  color: #fff;
}
.facts__title {
  color: #4c76ff;
}
.facts__row {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 80px;
}
.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__num {
  margin-top: 38px;
  font-size: 45px;
  margin-bottom: 14px;
}
.item__text {
  text-transform: uppercase;
  font-size: 13px;
}
.discuss {
  padding-top: 78px;
  padding-bottom: 89px;
}
.discuss__wrap {
  display: flex;
  margin-top: 78px;
}
.discuss__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.discuss__links a:hover {
  transform: scale(1.5, 1.5);
}
.adress {
  color: #6a737b;
  flex-basis: 205px;
  margin-right: 40px;
  line-height: 2.5em;
}
.adress__title {
  color: #062033;
  font-size: 18px;
  margin-bottom: 23px;
}
.adress__text {
  font-size: 11px;
}
.form__title {
  color: #062033;
  font-size: 20px;
  font-weight: 700;
}
.form__body {
  width: 640px;
  margin-top: 35px;
}
.form__body input {
  border-bottom: 1px solid #ccc;
  width: 48%;
  padding-bottom: 15px;
  margin-bottom: 17px;
}
.form__body textarea {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 13px 0 0;
}
.form__body button {
  padding-left: 30px;
  background: url("../img/discuss/Envelope.svg") center left no-repeat;
  width: 125px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  margin-left: auto;
  display: block;
  margin-top: 20px;
  transition: 0.3s all ease;
}
.form__body button:hover {
  transform: scale(0.8, 0.8);
}
.footer {
  padding: 52px 0 93px;
  color: #fff;
  line-height: 2.5em;
  background-color: #000;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  width: 27%;
  color: #cccdcd;
}
.footer__descr {
  margin-top: 25px;
}
.footer__label {
  font-size: 18px;
  font-weight: 900;
}
.footer__form {
  position: relative;
  max-width: 245px;
  margin-top: 36px;
}
.footer__form input {
  width: 100%;
  height: 42px;
  border: 2px solid #fff;
  padding: 5px;
}
.footer__form button {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 23px;
  cursor: pointer;
}
.footer__links {
  display: flex;
  margin-top: 25px;
}
.footer__links .col {
  display: flex;
  flex-direction: column;
}
.footer__links .col_left {
  margin-right: 30px;
}
@media screen and (max-width: 992px) {
  .offer__subtitle {
    font-size: 35px;
  }
  .device__inner {
    background-image: none;
    justify-content: space-around;
  }
  .device .card__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .tagline {
    display: none;
  }
  .features__inner {
    flex-direction: column;
    align-items: center;
  }
  .features__inner .card {
    width: 80%;
    margin-bottom: 30px;
  }
}
