@media screen and (max-width: 992px)
	.offer
		&__subtitle
			font-size 35px
	.device
		&__inner
			background-image none
			justify-content space-around
		.card
			&__title
				font-size 20px
@media screen and (max-width: 650px)
	.tagline
		display none
	.features__inner
		flex-direction column
		align-items center
		.card
			width 80%
			margin-bottom 30px